version: '3.7'
services:
  home-assistant:
    image: homeassistant/home-assistant:{{ home_assistant_docker_version }}
    container_name: home-assistant
{% if home_assistant_container_labels %}
    labels:
{% for label in home_assistant_container_labels %}
      - {{ label }}
{% endfor %}
    restart: always
    ports:
      - "8123"             # Web admin panel
      - "8300"             # Emulated Hue
      - "51827"            # Homekit
{% if home_assistant_network_name %}
    networks:
      - {{ home_assistant_network_name }}
{% endif %}
    volumes:
{% for vol in _home_assistant_docker_volumes %}
      - {{ vol }}
{% endfor %}
    environment:
{% for k, v in home_assistant_environment_variables.items() %}
      - {{ k }}={{ v }}
{% endfor %}
{% if home_assistant_network_name %}
networks:
  {{ home_assistant_network_name }}:
    external: true
{% endif %}
